torch
conda
pip
onnx
numpy==1.24
sympy
scikit-learn
numba
FuzzyTM>=0.4.0
opt_einsum
h5py
cytoolz
pytorch-lightning==2.0.7
pytorch-cuda==12.1
torchvision
torchaudio
tensorboard
tensorboardx
jupyterlab
seaborn
rich
torchdata
pyqt5<5.16
pyqtwebengine<5.16
comet_ml
vector
onnxruntime
argparse
awkward
uproot
pandas
mplhep